.consultation {
  position: relative;
  color: var(--color-white);
  padding: 180px 0;
  margin-top: 0;
  background-image: url('@img/consultation-bg.jpg');
  background-size: cover;

  &::after {
    position: absolute;
    content: '';
    inset: 0;
    background-image: var(--overlay);
    z-index: 0;
  }

  &__inner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    z-index: 1;
  }
  &__descr {
    // max-width: 600px;
    margin: 0;
    font-size: 24px;
    text-align: center;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .btn {
      grid-column: span 2;
    }
  }
}

.form {
  &__group {
  }

  &__input {
    &--tel {
    }
  }
}
